<form data-ng-submit="uec.edit()">
  <div>
    <input type="text" placeholder="Name" data-ng-model="uec.user.name">
  </div>
  <div>
    <input type="email" placeholder="Email" data-ng-model="uec.user.email">
  </div>
  <div>
    <input type="submit">
  </div>
  <div id="errorMessage" data-ng-show="uec.messages.error" class="text-center text-danger">
    <strong data-ng-bind="uec.messages.error"></strong>
  </div>
  <div id="successMessage" data-ng-show="uec.messages.success" class="text-center text-success">
    <strong data-ng-bind="uec.messages.success"></strong>
  </div>
</form>
